{% extends 'base.html'%} {% load static %} {% block staticfilesblock %}
<link rel="stylesheet" href="{% static '/css/product_details_css.css' %}" />
<link rel="stylesheet" href="{% static '/css/review_css.css' %}" />
{% endblock %} {% block titlename %}

<title>{{prod_name}}</title>

{% endblock %} {% block content %}

<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4"><img id="main-image" src="{% static '/images/eggs.png' %}" width="250" /></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="mt-4 mb-3">
                <p class="text-uppercase text-muted brand">Category: {{categ_name}}</p>
                <span class="text-uppercase text-muted brand">Seller: {{seller_name}}</span>
                <h5 class="text-uppercase">{{prod_name}}</h5>

                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price">&#2547; {{disc_price}} &nbsp;</span>
                  {% if discount %}
                  <div class="ml-2"><small class="dis-price">&#2547; {{prod_price}}</small> <span> {{discount}}% OFF</span></div>
                  {% endif %}
                </div>
              </div>
              <p class="about">{{prod_des}}</p>
              {% if quantity %}
              <div>
                <h6>InStock: {{quantity}}</h6>
              </div>
              {% else %}
              <div>
                <h5 style="color: red; font-weight: bold;">Out Of Stock!!!</h6>
              </div>
              {% endif %}
              <div>
                <h6>Rating: {{prod_float_rating}}/5</h6>
              </div>
              <ul style="justify-content: left" class="product_ul">
                {% for i in rating_ind %}
                <li class="prudct_li"><i class="fa fa-star" aria-hidden="true"></i></li>
                {% endfor %}
              </ul>
              <p>Expected Delivery Time: {{exp_del_time}}</p>

              <div class="cart mt-4 align-items-center">
                {% if quantity %}
                <a href="{% url 'products:checkout' prod_id %}" class="btn btn-outline-success">Buy Now</a>
                
                <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                <!-- <!–– <button class="btn btn-danger text-uppercase mr-2 px-4">Add to Bag</button> ––>  -->
                {% else %}
                <a href="#" class="btn btn-outline-success disabled">Buy Now</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if review_list %}
<div class="container" style="width: 1000px;">
<h3 style="text-align: center;">All Reviews</h3></div>
{% for review in review_list %}
<div class="container" style="width: 1000px;">
  <div class=" row">
      <div class="col-md-12">
          <div class="d-flex flex-column comment-section">
              <div class="bg-white p-2">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{review.rev_provider}}</span><span class="date text-black-50">{{review.rev_date}}</span></div>
                  </div>
                  <ul style="justify-content: left" class="product_ul">
                  {% for i in review.rating_string %}
                  <li class="prudct_li"><i class="fa fa-star" aria-hidden="true"></i></li>
                  {% endfor %}
                </ul>
                  <div class="">
                      <p class="comment-text">{{review.rev_des}}</p>
                      <hr/>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endfor %}
{% endif %}

<p></p>

{% if review_flag == 'Reviewed' %}
<div style="text-align: center;" class="alert alert-danger container" role="alert">
  You Already Reviewed this Product
</div>
{% else %}
<div class="container" style="width: 1000px;">
  <h3 style="text-align: center;">Write A Review</h3>
  <form method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="rating" class="form-label">Rating</label>
    <input type="number" name="rating" class="form-control" id="rating" placeholder="Out of 5">
  </div>
  <div class="mb-3">
    <label for="review_des" class="form-label">Review Description</label>
    <textarea class="form-control" name="review_des" id="review_des" rows="5"></textarea>
  </div>
  
  <button class="btn btn-success" type="submit">Post Review</button>
  </form>
</div>
{% endif %}


{% endblock %}
