{% extends 'base.html'%} {% load static %} {% block titlename %}

<title>Customer Order</title>

{% endblock %} {% block content %}
<p></p>
<br />
<div>
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-2 mb-3">
          <div class="sidebar d-grid gap-2 col-8">
            <a class="btn btn-info" href="{% url 'registration:cus_home' %}">Basic Info</a>

            <a class="btn btn-info" href="{% url 'registration:cus_order' %}">Order</a>

            <a class="btn btn-info" href="{% url 'registration:cus_review' %}">Reviews</a>
          </div>
        </div>
        <div class="col-md-10 mb-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="text-align: center">Order Date</th>
                <th scope="col" style="text-align: center">Items</th>
                <th scope="col" style="text-align: center">Delivered Date</th>
                <th scope="col" style="text-align: center">Status</th>
                <th scope="col" style="text-align: center">Delivery Guy</th>
                <th scope="col" style="text-align: center">Phone</th>
                <th scope="col" style="text-align: center">Action/Return Status</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders_view %}
              <tr>
                <td style="text-align: center">{{order.date_of_order}}</td>
                <td style="text-align: center">{{order.items}}</td>
                <td style="text-align: center">{{order.delivered_date}}</td>
                <td style="text-align: center">{{order.delivery_status}}</td>
                <td style="text-align: center">{{order.delivery_guy}}</td>
                <td style="text-align: center">{{order.phone}}</td>

                {% if order.buttoninfo == 'Return Order' %}
                <td style="text-align: center">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Return Order</button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Write a Complaint</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="order_id" value="{{order.ord_id}}" />
                          <div class="mb-3">
                            <label for="comaplain" class="form-label">Complaint Description</label>
                            <textarea class="form-control" id="complain" name="complain" rows="4"></textarea>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Return Order</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </td>

                {% elif order.buttoninfo == 'nothing' %}
                <td style="text-align: center">No Action Available</td>

                {% elif order.buttoninfo == 'waiting' %}
                <td style="text-align: center">Waiting for Return Approval</td>

                {% elif order.buttoninfo == 'accepted' %}
                <td style="text-align: center">Return Request Accepted</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
