{% extends 'base.html'%} {% load static %} {% block titlename %}

<title>Seller Offers</title>

{% endblock %} {% block content %}
<p></p>
<br />
<div>
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-2 mb-3">
          <div class="sidebar d-grid gap-2 col-6">
            <a class="btn btn-info" href="{% url 'registration:seller_home' %}">Basic Info</a>
            <a class="btn btn-info" href="{% url 'registration:seller_products' %}">Product</a>
            <a class="btn btn-info" href="{% url 'registration:seller_offers' %}">Offers</a>
            <a class="btn btn-info" href="#">Advertisement</a>
          </div>
        </div>
        <div class="col-md-10 mb-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="text-align: center">Product Name</th>
                <th scope="col" style="text-align: center">Offer Start Date</th>
                <th scope="col" style="text-align: center">Offer End Date</th>
                <th scope="col" style="text-align: center">Discount</th>
              </tr>
            </thead>
            <tbody>
              {% for offer in offers_view %}
              <tr>
                <td style="text-align: center">{{offer.name_of_product}}</td>
                <td style="text-align: center">{{offer.start_date}}</td>
                <td style="text-align: center">{{offer.end_date}}</td>
                <td style="text-align: center">{{offer.discount}}&percnt;</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-grid d-md-flex justify-content-md-end">
        <a class="btn btn-success" href="{% url 'products:add_offer' %}">Add New Offer</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
