{% extends 'base.html'%} {% load static %} {% block staticfilesblock %}
<link rel="stylesheet" href="{% static '/css/signup_sidebar.css' %}" />
{% endblock %} {% block titlename %}

<title>Sign Up</title>

{% endblock %} {% block content %}

<div class="sidebar">
  <a class="btn btn-primary" href="{% url 'registration:signup' %}">Customer Registration</a>
  <p></p>
  <a class="btn btn-primary" href="{% url 'registration:seller_signup' %}">Seller Registration</a>
</div>

<section class="h-100 h-custom" style="background-color: #8fc4b7; border: 0">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-8">
        <div class="card rounded-3">
          <img src="{% static '/images/signup_banner.jpg' %}" class="w-100" style="border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem" alt="SignUp Banner" />
        </div>
        <div class="card shadow-2-strong card-registration" style="border-radius: 0">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Register as : Seller</h3>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <input type="text" id="name" name="name" class="form-control form-control-lg" placeholder="Enter Name" />
                    <label class="form-label visually-hidden" for="name">Name</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="tel" id="phoneNumber" name="phn" class="form-control form-control-lg" placeholder="Phone Number" />
                    <label class="form-label visually-hidden" for="phoneNumber">Phone Number</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="email" id="emailAddress" name="email" class="form-control form-control-lg" placeholder="Email" />
                    <label class="form-label visually-hidden" for="emailAddress">Email</label>
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" name="address" id="address" />
                <label for="address">Address</label>
              </div>

              <div class="form-floating mb-3">
                <input type="url" class="form-control form-control-lg" name="website" id="website" />
                <label for="website">Website</label>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="password" id="password" name="pass" class="form-control form-control-lg" placeholder="Password" />
                    <label class="form-label visually-hidden" for="password">Password</label>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  style="background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))"
                  class="d-grid col-12 mx-auto btn btn-success btn-block btn-lg text-body"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
